{{ if .Site.Data.content.Education }}
<div id="education" class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">
            {{ i18n "education" }}
        </h2>
    </div>
    <div class="sideSection__content">
        {{ range .Site.Data.content.Education }}
            <div class="education__item">
                <h4 class="education__title">{{ .Course | safeHTML }}</h4>

                <h5 class="education__school">{{ .School | safeHTML }}</h5>

                <h5 class="education__place">{{ .Place | safeHTML }}</h5>

                <table style="width: 100%;">
                    <tr>
                        <td><div class="education__date" style="float: left;">{{ .Date | safeHTML }}</div></td>
                        <td><div class="education__description" style="float: right;">{{ .Details | safeHTML }}</div></td>
                    </tr>
                </table>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
